@model StarVM

@{
	ViewBag.Title = "FanPage";
	Layout = null;
}

<html>
<head>
	<title>@Model.Star.FirstName @Model.Star.LastName's Fan Page</title>
	<script type="text/javascript" src="@Url.Content("~/Content/Flowplayer/flowplayer-3.2.6.min.js")"></script>
</head>

<body>




<table id="Table_01" width="755" height="720" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan="11">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_01.jpg")" width="127" height="720" alt=""></td>
		<td colspan="4">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_02.jpg")" width="525" height="57" alt=""></td>
		<td rowspan="11">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_03.jpg")" width="103" height="720" alt=""></td>
	</tr>
	<tr>
		<td rowspan="9">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_04.jpg")" width="26" height="609" alt=""></td>
		<td colspan="2">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_05.jpg")" width="472" height="4" alt=""></td>
		<td rowspan="9">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_06.jpg")" width="27" height="609" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" width="472" height="67" align="center">
@*			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_07.jpg")" width="472" height="67" alt="">*@
            <div style="font-size:50px;color:#00aeef;font-weight: bold" >@Model.Star.FirstName.ToUpper() @Model.Star.LastName.ToUpper()</div>
            </td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_08.jpg")" width="472" height="24" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" width="472" height="50" align="center" style="background-color: #00aeef ">
        <div style="font-size:50px;font-weight: bold;color:white" >Mamma Mia</div>
@*			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_09.jpg")" width="472" height="50" alt="">*@
            </td>
	</tr>
	<tr>
		<td colspan="2">
		<div id="player" style="display:block;width:472px;height:266px;"></div>
@*			<img src="images/fanpage_10.jpg" width="472" height="266" alt=""></td>*@
	</tr>
	<tr>
		<td colspan="2">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_11.jpg")" width="472" height="39" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_12.jpg")" width="472" height="19" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2" width="110" height="140">
            <img src="@(Model.Star.PictureUrl + "?type=large")" width="110" height="140"/>
@*			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_13.jpg")" width="110" height="140" alt="">*@
</td>
		<td>
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_14.jpg")" width="362" height="122" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_15.jpg")" width="362" height="18" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="@Url.Content("~/Content/Fanpage/images/fanpage_16.jpg")" width="525" height="54" alt=""></td>
	</tr>
</table>


















	

	@{
		var songUrl = Model.NewestSong != null ? Model.NewestSong.playUrl : null;
	}
@if (songUrl != null)
{
	<script type="text/javascript">
		
		flowplayer("player", "@Url.Content("~/Content/Flowplayer/flowplayer-3.2.7.swf")",
			{
				clip: {
					autoPlay: false,
					autoBuffering: true,
					scaling: 'fit',
                    //url: '@songUrl'
					url: 'http://megastarz.blob.core.windows.net/recordedsongs/b886ef14-bcfd-49ab-a7d8-bff34863ceae'
					
			}
		 });
	 </script>
}


</body>

</html>

